@font-face {
    font-family: PTSans-Bold;
    src: local("PTSans-Bold"),
    url("fonts/PTSans/PTSans-Bold.ttf")
}

@font-face {
    font-family: PTSans-Regular;
    src: local("PTSans-Regular"),
    url("fonts/PTSans/PTSans-Regular.ttf")
}

body {
    background-image: url(img/background.jpg);
}

.positionnement {
    width: 2300px;
}

.banniere {
    background-color: #1D8348;
}

h1 {
    font-family: PTSans-Bold;
    font-weight: bold;
}

h1, .text-banniere {
    color: #FFFFFF;
}

.text-banniere, .presentation-text {
    font-family: PTSans-Regular;
}

.text-banniere {
    font-size: 20px;
    font-weight: bold;
}

.card-presentation {
    max-width: 800px;
    margin-top: 100px;
}
.presentation {
    background-color: #D5F5E3;
}

.presentation-text {
    margin-left: 25px;
    text-align: center;
    font-size: 18px;
    max-width: 700px;
}