@font-face {
    font-family: Carlito-Bold;
    src: local("Carlito"),
    url("fonts/Carlito/Carlito-Bold.ttf")
}

@font-face {
    font-family: PTSans-Bold;
    src: local("PTSans-Bold"),
    url("fonts/PTSans/PTSans-Bold.ttf")
}

@font-face {
    font-family: PTSans-Regular;
    src: local("PTSans-Regular"),
    url("fonts/PTSans/PTSans-Regular.ttf")
}

body {
    background-image: url(img/background.jpg);
    max-width: 2500px;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    font-family: Carlito-Bold;
}

.positionnement {
    width: 2300px;
}

.banniere, .banniere-evenements {
    background-color: #1D8348;
}

h1 {
    font-family: PTSans-Bold;
    font-weight: bold;
}

h1, .text-banniere {
    color: #FFFFFF;
}

.text-banniere, .presentation-text {
    font-family: PTSans-Regular;
}

.text-banniere {
    font-size: 20px;
    font-weight: bold;
}

.forest {
    margin-top: 250px;
}

.card-presentation {
    max-width: 800px;
    margin-top: 200px;
}
.presentation {
    background-color: #D5F5E3;
}

.presentation-text {
    margin-left: 25px;
    text-align: center;
    font-size: 18px;
    max-width: 700px;
}

.evenement {
    background-color: #E9F7EF;
}

.image {
    margin-top: 200px;
}

.img1, .img2 {
    border-radius: 20px;
    margin-bottom: 20px;
}